@(id: String, blurbForm: Form[_], tags: List[String], isNew: Boolean = true, user: securesocial.core.Identity)

@import helper._
@import helper.twitterBootstrap._

@scripts = {
<script>
    $(function () {
        $('#tags').select2({tags: [@Html(tags.map(tag => s"'$tag'").mkString(","))], tokenSeparators: [',']});
        var editor = new EpicEditor({
            container: 'answer-editor',
            textarea: 'answer',
            basePath: '/assets/javascripts/epiceditor',
            clientSideStorage: false,
            theme: {
                base: '/themes/base/epiceditor.css',
                editor: '/themes/editor/epic-dark.css',
                preview: '/themes/preview/preview-dark.css'
            }
        });
        editor.load();
    });
</script>
}

@main(s"${if(isNew) "Create" else "Edit"} Blurb", user, scripts) {
    <h1>@{if(isNew) "Create" else "Edit"} Blurb</h1>
    @form(action = routes.Blurbs.update) {
        @defining(blurbForm("id")) { field =>
        <input name="@field.name" type="hidden" value="@field.value">
        }
        @textarea(blurbForm("question"), '_label -> "Question", 'class -> "span8")
        @input(blurbForm("answer"), '_label -> "Answer", 'class -> "span8 editor") { (id, name, value, args) =>
        <div class="clearfix">
            <div id="answer-editor" @toHtmlArgs(args)></div>
        </div>
        <div style="margin-top: 6px;">
            Use <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a>
            as a minimal format to avoid conflict with existing stylesheets.
        </div>
        <textarea id="@id" name="@name" style="display: none;">@value</textarea>
        }
        @inputText(blurbForm("tags"), 'id -> "tags", '_label -> "Tags", 'placeholder -> "Type to select or enter a new tag", 'class -> "span8")
        @*multiSelect(blurbForm("tags"), options(Blurb.tagOptions), 'id -> "tags", '_label -> "Tags", 'placeholder -> "Type to select or enter a new tag", 'class -> "span5")*@
        <br>
        @if(!isNew) {
        <div class="pull-right">
            <a href="@routes.Blurbs.delete(blurbForm("id").value.get)" class="btn btn-danger">Delete</a>
        </div>
        }
        <a href="@routes.Blurbs.index()" class="btn">Cancel</a>
        <input type="submit" class="btn btn-primary" value="@{if(isNew) "Create" else "Update"}">
    }
}
