@(entities: List[String], user: securesocial.core.Identity)
@import mojolly.inflector.InflectorImports._

@scripts = {
<script>
    $(function () {
        var resultTemplate = [
            [
                {
                    pre: '<a href="/blurbs/',
                    field: '_id',
                    post: '/edit" style="margin-right: 6px;">'
                },
                {
                    field: 'question',
                    post: '</a>'
                }
            ],
            [
                {
                    pre: '<blockquote>',
                    field: '_highlights',
                    post: '</blockquote>'
                },
                {
                    pre: '<a href="#" data-toggle="collapse" data-target="#',
                    field: '_id',
                    post: '">&hellip;</a>'
                }
            ],
            [
                {
                    pre: '<div class="collapse in" id="',
                    field: '_id',
                    post: '"><hr>'
                },
                {
                    pre: '<span class="markdown">',
                    field: 'answer',
                    post: '</span>'
                },
                {
                    pre: '</div><!-- end collapsible #',
                    field: '_id',
                    post: ' -->'
                }
            ]
        ];
        $('.facet-view-simple').facetview({
            search_url: '/exec-search',
            search_index: 'blurb',
            result_display: resultTemplate,
            pushstate: true,
            facets: [
                {field: 'tags'},
                {field: 'author'},
                {field: 'createdYearMonth', display: 'created year-month'},
                {field: 'lastEditedBy', display: 'last edited by'},
                {field: 'lastModifiedYearMonth', display: 'last edited year-month'},
                @for((entity, i) <- entities.zipWithIndex) {
                {field: '@entity', display: '@entity.underscore.humanize.pluralize.toLowerCase'}@if(i < entities.length - 1){,}
                }
            ],
            paging: {size: 10},
            post_search_callback: function () {
                $('.markdown').each(function (i, elem) {
                    $(elem).html(marked($(elem).text()));
                });
            }
        });
    });
</script>
}

@main("Search", user, scripts) {
<h1>Search</h1>
<div class="facet-view-simple"></div>
}
