@(user: securesocial.core.Identity)

@scripts = {
<script>
    $(function () {
        var resultTemplate = [
            [
                {
                    pre: '<a href="/blurbs/',
                    field: '_id',
                    post: '/edit" style="margin-right: 6px;">'
                },
                {
                    field: 'question',
                    post: '</a>'
                }
            ],
            [
                {
                    pre: '<blockquote>',
                    field: '_highlights',
                    post: '</blockquote>'
                },
                {
                    pre: '<a href="#" data-toggle="collapse" data-target="#',
                    field: '_id',
                    post: '">&hellip;</a>'
                }
            ],
            [
                {
                    pre: '<div class="collapse in" id="',
                    field: '_id',
                    post: '"><hr>'
                },
                {
                    pre: '<span>',
                    field: 'answer',
                    post: '</span>'
                },
                {
                    pre: '</div><!-- end collapsible #',
                    field: '_id',
                    post: ' -->'
                }
            ]
        ];
        $('.facet-view-simple').facetview({
            search_url: 'http://localhost:9200/blurb/_search?',
            search_index: 'blurb',
            result_display: resultTemplate,
            pushstate: false,
            facets: [
                {field: 'tags'}
            ],
            paging: {size: 10}
        });
    });
</script>
}

@main("Search", user, scripts) {
<h1>Search</h1>
<div class="facet-view-simple"></div>
}
